/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*MY CODE*/
html {
	position: relative;
	min-height: 100%;
}
body {
	position: relative;
	margin: 0 0 100px;
	border: solid 3px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	overflow: hidden;
}

h1 {
	color: red;
}

h2 {
	text-align: center;
	padding: 10px;
	border-bottom: solid 3px;
}

h3 {
	background-color: #bdd0f0;
	border-bottom: solid 3px;
}


.outputContact {
	width: 50%;
	height: 50px;
	float: left;
	border-bottom: solid 1px;
	border-right: solid 1px;
}

.outputOrg {
	height: 50px;
	display: block;
	border-bottom: solid 1px;
}

.outputAdress {
	float: left;
	width: 70%;
	height: 50px;
	border-bottom: solid 3px;
	border-right: solid 1px;
}

.outputNumber {
	height: 50px;
	display: block;
	border-bottom: solid 3px;
}
.cargo {
	border-bottom: solid 1px;
	height: 50px;
}

.weight {
	border-bottom: solid 3px;
}

.commentary {
	height: 410px;
	overflow: hidden;
	border-bottom: solid 3px;
}

@media print {
	h3 {
		background-color: #bdd0f0;
		-webkit-print-color-adjust: exact;
	}
}
