{% extends "orders/new_base_generic.html" %}
{% block content %}
<h4>Вы просматриваете шаблон №{{template.id}}</h4>
<div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
		<form action="" method="POST">
			{% csrf_token %}
			{{form.name}}
			{{form.organization}}
			{{form.contact}}
			{{form.number}}
			{{form.adress}}
			<div class="row">
				<div class="col-xs-6">
					<input type="submit" name="submit" class="btn btn-primary btn-block" value="Изменить шаблон">
				</div>
				<div class="col-xs-6">
					<input type="submit" name="delete" class="btn btn-danger btn-block" value="Удалить шаблон" onclick="return confirm('Вы уверены что хотите удалить этот шаблон?')">
				</div>
			</div>
<!-- <input type="text" name="" value="{{template.organization}}">
<input type="text" name="" value="{{template.contact}}">
<input type="text" name="" value="{{template.number}}">
<input type="text" name="" value="{{template.adress}}"> -->
</form>
</div>
<div class="col-xs-4">
	{% if form.name.errors %}
	<div class="alert alert-danger alert-dismissable">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		{% for error in form.name.errors %}
		{{error}}
		{% endfor %}
	</div>
	{% endif %}
</div>
</div>
{% endblock %}